:root {
  --primary: #4c0473;
  --secondary: #8a00d3;
  --tertiary: #fa7f72;
  --quatrinary: #6c6b67;
  --light: #ebebeb;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

header {
  padding: 15px;
  text-align: center;
  background: var(--primary);
  color: var(--secondary);
  border-bottom-style: solid;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}

nav {
  display: flex;
  background-color: var(--secondary);
}

button {
  padding: 1rem;
  background-color: var(--primary);
  color: var(--light);
  margin: 1rem;
}

footer {
  padding: 15px;
  text-align: center;
  background: var(--primary);
  color: white;
  border-bottom-style: solid;
}

/* CARDS */
.post-card {
  width: 100%;
  padding: 5px;
  border: 3px solid var(--primary);
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: medium;
  background-color: var(--light);
  color: var(--dark);
  justify-content: center ;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.post-header {
  color: var(--light);
  margin-bottom: 1rem;
  background-color: var(--secondary);
  padding: 0.625rem;
  border: 3px solid var(--primary);
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: medium;
  width: 100%;

}

.user-post {
  color: var(--light);
  margin-bottom: 1rem;
  background-color: var(--secondary);
  padding: 0.625rem;
  border: 3px solid var(--primary);
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: medium;
  width: 100%;

}

.post-body {
  padding: 5.625px;
  font-size: 1.4rem;
  text-align: Left;
  width: 100%;
  margin: 0;
}

/* LAYOUT */
.container {
  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
}

/* Font Adjustments */
.post-header-text {
  font-size: 1.5rem;
  font-weight: 400;
}
.post-body-text {
  font-size: 1rem;
  font-weight: 200;
}
.header-links {
  color: var(--light);
  padding: 1rem;
}
.title {
  color: var(--light);
  font-size: 4rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem
}